{% extends "layout.html" %} {% block content %}

<div class="jumbotron">
    <h2>Regresiones y Proyecciones de la Tasa de Aprobación</h2>
    <br>
    <div class="row">
        <div class="col-xs-12 col-xl">
            <h5>Grafica de Regresion de la Tasa de Aprobación en los Periodos Academicos 2011 - 2019</h5>
            <br>
            <img src="{{ruta_reg}}" class="img-fluid" WIDTH="600" HEIGHT="400" title="Grafica sintetica de Regresion de Reprobacion">
        </div>
        <div class="col-xs-12 col-xl">
            <h5>Grafica de Proyeccion de la Tasa de Aprobación en los Periodos Academicos 2020 - 2024</h5>
            <br>
            <img src="{{ruta_pro}}" class="img-fluid" WIDTH="600" HEIGHT="400" title="Grafica sintetica de Proyeccion de Reprobacion">
        </div>
    </div>
</div>

{% endblock %}