<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Conocenos</title>
</head>

<body>
    {% extends "layout.html" %} {% block content %}
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-info.css') }}">
    <div class="msg-container">
        <div id="slider">
            <div class="msg-col">
                <h1>¿ QUÉ SOMOS ?</h1>
                <p>Somos una Página Web, en la cual nuestra función principal es la de realizar proyecciones y tendencias de riesgo en educación media, utilizando la data del Ministerio de Educación Nacional como apoyo a decisiones en la entidad territorial
                    de san José de Cúcuta.
                    <br> Los datos utilizados en la investigación perteneces a los periodos académicos del 2011 al 2019 los cuales en su mayoría son de tipo decimales y alfanuméricos.</p>
            </div>
            <div class="msg-col">
                <h1>¿ CÓMO LO DESARROLLAMOS ?</h1>
                <p>Para el desarrollo del proyecto, se utilizó una adaptación de la metodología Scrumban, implementado sus diferentes fases tales como:
                    <br> La planificación de la iteración y selección de requisitos.
                    <br> Ejecución de la iteración.
                    <br> Ajuste de estándares del producto.
                    <br> Revisión de Sprint.
                    <br> Cierre.
                    <br> Esta es una metodología ágil que nos permite tener una flexibilidad en la gestión y planificación, llevar un seguimiento y registro a lo largo de la evolución del proyecto y una priorización adecuada en las tareas.</p>
            </div>
            <div class="msg-col">
                <h1>¿ POR QUÉ LO DESARROLLAMOS ?</h1>
                <p> Porque La repetición, la reprobación y la deserción son los principales problemas que afecta al sistema de educación en nuestro país, en el informe de gestión del 2016-2019 realizado por la alcaldía municipal de san José de Cúcuta nos
                    muestra una tasa de repitencia de 3.73% y 3.02%, una tasa de reprobación de 7% y 5% y una tasa de deserción de 3.73% y 3.02% en la educación media en los años 2016 y 2017 respectivamente los cuales son datos suministrados por el Sistema
                    Integrado de Matricula (SIMAT). Teniendo en cuenta lo mencionado anteriormente se logra evidenciar el comportamiento de los estudiantes hacia el interés en la educación, causando frustración aquellos que ingresan al sistema educativo
                    y por alguna u otra razón no logran graduarse, lo cual se convierte en un problema, dado que al no llevar un seguimiento de estos acontecimientos por parte del ministerio de educación afectara el desarrollo social del municipio de
                    san José de Cúcuta.</p>
            </div>
            <div class="msg-col">
                <h1>¿ PARA QUÉ ?</h1>
                <p> La educación es un proceso de formación humana y esta influye de manera significativa al desarrollo del país, un mayor logro en educación se conduce a mejorar el esquema de oportunidades sociales y estos se reflejan en la calidad de vida
                    y el bienestar de sus habitantes, este proyecto desea llevar un seguimiento de la tasa de repetición, reprobación y deserción a partir del análisis de la base de datos del Ministerio de Educación Nacional en el municipio de san José
                    de Cúcuta esto con la finalidad de ser un apoyo a la toma de decisiones en el plan de educación.</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <a href="/tutorial">Cómo Usar la página web</a>
    </div>

    <div class="controller">
        <div id="line1"></div>
        <div id="line2"></div>
        <div id="line3"></div>
        <div id="line4"></div>
        <div id="active"></div>
    </div>
    <script src="/static/js/animacion.js"></script>
    {% endblock %}
</body>

</html>