{% extends "layout.html" %} {% block content %}
<div class="overflow-auto">

    <h2>Grafica de Desercion</h2>
    <img src="{{ url_for('static', filename='file/proyeccion_desercion_2.png') }}" class="img-fluid" WIDTH="1200" HEIGHT="780" title="Grafica de Proyeccion de Desercion">
    <a href="/run3" class="btn btn-primary" style="text-align: center;">proyeccion de desercion</a>
    <div class="container p-4">
        <h1 style="text-align: center;">DATOS DEL MODELO DE REPROBACION</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h2>Regresión Lineal</h2>
                <br>
                <h3>Coeficiente : {{m_coe}}</h3>
                <br>
                <h3>Suma de Residuos al Cuadrado : {{m_mse}}</h3>
                <br>
                <h3>Varianza Explicada : {{m_ve}}</h3>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h2>Regresión Lasso</h2>
                <br>
                <h3>Coeficiente : {{l_coe}}</h3>
                <br>
                <h3>Suma de Residuos al Cuadrado : {{l_mse}}</h3>
                <br>
                <h3>Varianza Explicada : {{l_ve}}</h3>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h2>Regresión Ridge</h2>
                <br>
                <h3>Coeficiente : {{r_coe}}</h3>
                <br>
                <h3>Suma de Residuos al Cuadrado : {{r_mse}}</h3>
                <br>
                <h3>Varianza Explicada : {{r_ve}}</h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}