{% extends "layout.html" %} {% block content %}

<div class="jumbotron">
    <h2>Regresiones y Proyecciones Sinteticas</h2>
    <br>
    <div class="row">
        <div class="col-xs-12 col-xl">
            <h5>Grafica de Regresion Sintetica de la Tasa de Reprobacion en los Periodos Academicos 1970 - 2019</h5>
            <br>
            <img src="{{ruta_reprobacion}}" class="img-fluid" WIDTH="600" HEIGHT="400" title="Grafica sintetica de Regresion de Reprobacion">
        </div>
        <div class="col-xs-12 col-xl">
            <h5>Grafica de Proyeccion Sintetica de la Tasa de Reprobacion en los Periodos Academicos 2020 - 2024</h5>
            <br>
            <img src="{{ruta_pro_repro}}" class="img-fluid" WIDTH="600" HEIGHT="400" title="Grafica sintetica de Proyeccion de Reprobacion">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-xl">
            <h5>Grafica de Regresion Sintetica de la Tasa de Desercion en los Periodos Academicos 1970 - 2019</h5>
            <br>
            <img src="{{ruta_desercion}}" class="img-fluid" WIDTH="600" HEIGHT="400" title="Grafica sintetica de Regresion de Desercion">
        </div>
        <div class="col-xs-12 col-xl">
            <h5>Grafica de Proyeccion Sintetica de la Tasa de Desercion en los Periodos Academicos 2020 - 2024</h5>
            <br>
            <img src="{{ruta_pro_deser}}" class="img-fluid" WIDTH="600" HEIGHT="400" title="Grafica sintetica de Proyeccion de Desercion">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-xl">
            <h5>Grafica de Regresion Sintetica de la Tasa de Repitencia en los Periodos Academicos 1970 - 2019</h5>
            <br>
            <img src="{{ruta_repitencia}}" class="img-fluid" WIDTH="600" HEIGHT="400" title="Grafica sintetica de Regresion de Repitencia">
        </div>
        <div class="col-xs-12 col-xl">
            <h5>Grafica de Proyeccion Sintetica de la Tasa de Repitencia en los Periodos Academicos 2020 - 2024</h5>
            <br>
            <img src="{{ruta_pro_repit}}" class="img-fluid" WIDTH="600" HEIGHT="400" title="Grafica sintetica de Proyeccion de Repitencia">
        </div>
    </div>

</div>

{% endblock %}