<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Proyecciones</title>
    <link rel="stylesheet" href="/static/css/lista.css">
</head>

<body>
    {% extends "layout.html" %} {% block content %}
    <div id="menu">
        <form action="" id="menu" method="POST">
            <label for="Regresiones">Regresiones</label>
            <br>
            <select name="Regresiones-reprobacion">
                <option disabled="">Seleccionar una opcion</option>
                {% for e in lista %}
                <option value= "{{ e }}" >{{ e }}</option>
                {% endfor %}
            </select>
            <input type="submit" name="Enviar" value="Enviar" />
        </form>
    </div>
    {% endblock %}
</body>

</html>